* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
  
}

html {
    scroll-behavior: smooth;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  
}

header {
  background-color: rgb(32, 32, 32);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  max-width: 72px;
  margin-right: 72px;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  padding: 0 15px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

header ul li a:hover {
  color: rgb(226, 55, 55);
}

/*sliders*/

.subT h3 {
    color: #fff;
}

.subT {
    padding: 15px;
    padding-left: 30px;
    background-color: rgb(41, 40, 40);
}

.slider {
  padding: 40px 0;
  background-color: rgb(41, 40, 40);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: rgb(41, 40, 40);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}
/*============================*/

.imgD {
    display: flex;
    justify-content: center;
    padding: 40px;
}